/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

target

src/test
cms/src/test
cms/target
core/src/test
core/target
model/src/test
model/target
orm/src/test
orm/target
web/src/test
web/target


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Package Files #
*.jar
# *.war
*.ear
*.idea
*.log

*.class
*.classpath
*.project
*.settings/

*.iml